test/testdata/schemas/invoice.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="address" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="line" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="item" type="xs:string" use="required"/>
            <xs:attribute name="quantity" type="xs:positiveInteger" use="required"/>
            <xs:attribute name="unit-price" type="xs:decimal" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="total" type="xs:decimal"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
